<h1>Oh, The Places You'll Go!</h1>


<ul style="list-style-type:none">
  <h2>Available Places:</h2>
   <% @location.each do |location| %>
   <li>
     <div class="well">
       <b><%= location.name %></b>
       <br>
       <%= image_tag(location.avatar.url(:thumb)) %>
       <br>
       <%= link_to "Check it out", location_path(location) %>
     </div>
   </li>
   <% end %>
 </ul>


   <button class="btn btn-info"><%= link_to "Create a new Location", new_location_path %></button>
